body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0; padding:0;
    /*font-family: Arial,sans-serif;*/
    font-family: frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/*
    initialization
*/
html {
    min-width: 1000px;
}
body {
    /*font-size: 0;*/
}
* {
    box-sizing: border-box;
}
.hide {
    display: none;
}
.active {
    display: block;
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav {
    height: 60px;
    border-bottom: 2px solid #d6d6d6;
}
nav > img {
    float: left;
    margin-left: 30px;
}
.nav-items > ul,.nav-items > ul > li {
    display: inline-block;
}
.pointer {
    margin-left: 20px;
}
.pointer > span::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 15px;
    height: 8px ;
    background-image: url(../imgs/dropicon-black.png);
    background-position: center;
    background-repeat: no-repeat;-
    background-size: cover;
}
.pointer > .pointer-change::after {
    background-image: url(../imgs/dropicon-blue.png);
}
.nav-items,.nav-menu {
    display: inline-block;
}
.nav-menu {
    float: right;
    margin-right: 30px;
}
.nav-items > ul {
    /*margin-left: 30px;*/
}
.search-btn {
    /*position: absolute;*/
    height: 21px;
    width: 37px;
    background-image: url(../imgs/search.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 16px;
    right: 42px;
    border: none;
    background-color: white;
}
.pointer > span {
    display: inline-block;
    line-height: 56px;
    border-bottom: 2px solid #fff;
}
.pointer > span:hover {
    border-bottom: 2px solid #1784db;
    color: #1784db;
    cursor: pointer;
}
/*这里开始是导航的内容*/
.menu-mask {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 60px;
    width: 100%;
    height: 420.4px;
    background-color: #f4f4f4;
    color: #666;
}
.menu-left {
    width: 40%;
    float: left;
}
.menu-right {
    width: 60%;
    height: 100%;
    float: right;
    background-color: #f9f9f9;
    -moz-box-shadow: -2px 2px 10px #d0eafb;
    -webkit-box-shadow: -2px 2px 10px #d0eafb;
    box-shadow: -2px 2px 10px #d0eafb;
}
.menu-left > ul {
    margin-left: 20%;
    margin-right: 14%;
}
.menu-left li {
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    padding-left: 30%;
}
.menu-left li:hover {
    cursor: pointer;
}
.menu-right li {
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-ul {
    float: left;
    width: 24%;
    font-size: 22px;
    border-right: 2px solid #e9e9e9;
}
.menu-ul > ul {
    text-align: center;
}
.menu-ul li:hover {
    text-decoration: underline;
    color: #1784db;
    cursor: pointer;
}
.menu-div > div > b {
    display: block;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 24px;
    color: #2a80bb;
}
.menu-img {
    float: left;
    margin-left: 80px;
    background-image: url(../imgs/menu-1.png);
    background-position: bottom;
    background-size: cover;
    width: 250px;
    height: 250px;
}
.menu-article {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 250px;
    margin-left: 40px;
    float: left;
}
.menu-article > a {
    position: absolute;
    color: #1784db;
    bottom: 0;
    right: 0;
}
.menu-about {
    width: 80%;
    height: 74%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.menu-about > div > b {
    display: block;
    text-align: center;
    /*margin-left: 80px;*/
    margin-bottom: 50px;
    font-size: 24px;
    color: #2a80bb;
}
.menu-about > div > a {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #1784db;
}
.menu-content {
    /*display: inline-block;*/
    float: left;
    width: 56%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
    /*padding-top: 20px;*/
}
.menu-content > div > b {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: #5693c4;
}
.menu-content > div > p {
    margin-top: 40px;
    font-size: 20px;
}
.menu-content > div > a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #1784db;
    font-size: 20px;
}
.hover-back-color {
    background-color: #1784db;
    color: white;
}
.hover-color {
    background-color: #1784db;
}
/*              nav                  */
.banner-div {
    width: 100%;
    background-image: url(../imgs/banner-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-2 {
    background-image: url(../imgs/banner-2.png);
}
.banner-content > p {
    color: white;
    font-size: 52px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 12.88%;
}
.banner-content > p > span {
    font-size: 72px;
}
/* section-one */
.bg-color-1 {
    background-color: #f9f9f9;
}
.section-one {
    margin: 0 auto;
}
.section-one-article {
    display: inline-block;
    background-color: white;
    text-align: center;
}
.section-one-article:hover {
    -moz-box-shadow: 0px 5px 50px #d0eafb;
    -webkit-box-shadow: 0px 5px 50px #d0eafb;
    box-shadow: 0px 5px 50px #d0eafb;
}
.section-one-content {
    margin: 0 auto;
}
.section-one-article > img {
    width: 100%;
}
.section-one-article > a {
    display: inline-block;
    font-weight: bold;
}
.section-one-article > a:hover {
    text-decoration: underline;
}
/* section-two */
.bg-color-2 {
    background-color: #1875b6;
}
.section-two {
    margin: 0 auto;
}
.section-two-article {
    display: inline-block;
    background-color: white;
    text-align: center;
}
.section-two-content {
    margin: 0 auto;
}
.section-two-article:hover {
    -moz-box-shadow: 0px 5px 50px #d0eafb;
    -webkit-box-shadow: 0px 5px 50px #d0eafb;
    box-shadow: 0px 5px 50px #d0eafb;
}
.section-two-article > img {
    width: 100%;
}
.section-two-article > button {
    color: #1784db;
    background-color: white;
    border: none;
    -moz-box-shadow: 3px 2px 10px #d0eafb;
    -webkit-box-shadow: 3px 2px 10px #d0eafb;
    box-shadow: 3px 2px 10px #d0eafb;
}
.section-two > div > b {
    color: white;
}
.section-two-article > b {
    font-weight: normal;
}
/* section-three */
.section-three {
    margin: 0 auto;
}
.section-three > div > b {
    font-size: 36px;
}
.section-three-content {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.section-three-content > img {
    width: 80%;
}
/* section-four */
.section-four {
    margin: 0 auto;
    padding: 40px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:  flex-start;
    align-content: center;
}
.section-four > div {
    display: inline-block;
}
.link-part > b {
    font-size: 18px;
}
.link-part > p {
    font-size: 16px;
    margin-top: 21px;
}
/* footer */
footer {
    background-color: black;
    height: 40px;
    line-height: 40px;
}
.footer-content {
    margin: 0 auto;
}
.footer-content > p {
    float: left;
    color: white;
}
.footer-content > a {
    display: inline-block;
    float: right;
}
.footer-content > a + a {
    margin-right: 30px;
}

/* intro.html starts */
.banner-content-2 {
    float: right;
    margin-right: 280px;
    font-size: 48px;
    font-weight: bold;
    padding: 16px 50px;
    background-color: white;
    color: #f36;
}
.bg-color-3 {
    background-color: white;
}
.connection {
    margin: 0 auto;
    height: 77px;
    justify-content: space-around;
    display: flex;
    line-height: 77px;
}
.bg-color-3 span {
    color: #959595;
    font-size: 20px;
}
.bg-color-4 {
    background-color: #f9f9f9;
    overflow: hidden;
}
.intro-right-img {
    float: right;
    width: 500px;
    height: 406px;
    background-image: url(../imgs/intro-right.png);
    background-position: center;
    background-repeat: no-repeat;

}
.intro-left {
    height: 406px;
    width: calc(100% - 500px);
    float: right;
}
.intro-left b {
    display: inline-block;
    color: #f36;
    font-size: 36px;
    margin-left: 133px;
    margin-top: 90px;
}
.intro-left p {
    margin: 35px 30px 0 133px;
    line-height: 26px;
}
.bg-color-3 {
    text-align: center;
}
.intro-list,.intro-list li {
    display: inline-block;
}
.intro-list {
    width: 90%;
    height: 85px;
    line-height: 85px;
    /*margin: 0 5%;*/
    font-size: 0;
}
.intro-list li {
    width: 20%;
    font-size: 24px;
}
.intro-list li:hover {
    background-color: #f36;
    color: white;
    font-weight: bold;
}
.icon-1 {
    width: 130px;
    height: 40px;
    line-height: 40px;
    color: #f36;
    background-color: white;
    margin-left: 133px;
    margin-top: 78px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
    -moz-box-shadow: 2px 2px 10px #d0eafb;
    -webkit-box-shadow: 2px 2px 10px #d0eafb;
    box-shadow: 2px 2px 10px #d0eafb;
}
.intro-msg {
    margin: 0 133px;
}
.num-icon {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f36;
    color: white;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
}
.intro-article {
    width: 90%;
    float: left;
    line-height: 24px;
}
.bg-color-4 {
    padding-bottom: 78px;
}
/* cooperation.html starts */
.banner-content-3 {
    color: #1875b6;
}
.section-article {
    margin: 48px 100px;
}
.co-right-img {
    float: right;
    width: 400px;
    height: 300px;
    background-image: url(../imgs/intro-right.png);
    background-position: center;
    background-repeat: no-repeat;

}
.co-left {
    height: 300px;
    width: calc(100% - 400px);
    float: right;
    background-color: white;
}
.co-left b {
    display: inline-block;
    color: #1875b6;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 30px;
}
.co-left p {
    margin: 35px 30px 0 30px;
    line-height: 26px;
}
.title-1 {
    display: block;
    margin: 78px 0 48px 100px;
    font-size: 36px;
}
/* template.html */
.bg-color-5 {
    background-color: #f9f9f9;
    padding-top: 70px;
    padding-bottom: 70px;
}
.template-wrap {
    margin: 0 6%;
}
.template-ceil {
    padding: 70px 4% 70px 4%;
    background-color: white;
    -moz-box-shadow: -2px 2px 10px #d0eafb;
    -webkit-box-shadow: -2px 2px 10px #d0eafb;
    box-shadow: -2px 2px 10px #d0eafb;
}
.template-ceil > b {
    display: block;
    color: #2a80bb;
    margin-bottom: 34px;
}
.template-ceil-img {
    float: right;
    width: 30.8%;
}
.template-wrap > h3 {
    margin: 70px 0 50px 0;
}
.template-card {
    margin-bottom: 50px;
    background-color: white;
    overflow: hidden;
}
.template-card-img {
    float: right;
    width: 34.5%;
}
.template-card-article {
    width: 57.5%;
    margin: 38px 4%;
    float: right;
}
.template-card-article > b {
    display: inline-block;
    color: #2a80bb;
}

/*  ************ 媒体查询部分 ************  */
/*  ************ 媒体查询部分 ************  */
/*  ************ 媒体查询部分 ************  */
@media (min-width: 1920px) {
    .pointer {
        margin-left: 43.4px;
    }
    .pointer > span {
        font-size: 22px;
    }
    .menu-mask {
        height: 646.8px;
    }
    .menu-left li {
        margin-top: 34px;
        height: 70px;
        line-height: 70px;
        font-size: 34px;
    }
    .menu-ul,.menu-content > div > b,.menu-about > div > b {
        font-size: 30px;
    }
    .menu-content > div > p,.menu-content > div > a,.menu-about > div > span,.menu-about > div > a {
        font-size: 28px;
    }
    /*nav部分结束*/
    /*nav部分结束*/
    .banner-div {
        height: 646.8px;
    }
    .bg-color-1 {
        padding-top: 73px;
        padding-bottom: 126px;
    }
    .section-one {
        width: 1680px;
    }
    .section-one > div > b {
        font-size: 50px;
    }
    .section-one-content {
        margin-top: 43px;
    }
    .section-one-article {
        width: 529px;
    }
    .section-one-article + .section-one-article {
        margin-left: 41px;
    }
    .section-one-article > img {
        margin-bottom: 43px;
    }
    .section-one-article > b {
        font-size: 33px;
    }
    .section-one-article > p {
        margin-top: 35px;
        font-size: 22px;
    }
    .section-one-article > a {
        font-size: 28px;
        margin-top: 49px;
        margin-bottom: 33px;
    }
    /* 这里是结束的section-one部分 */
    .bg-color-2 {
        padding-top: 61px;
        padding-bottom: 106px;
    }
    .section-two {
        width: 1680px;
    }
    .section-two > div > b {
        font-size: 50px;
    }
    .section-two-content {
        margin-top: 43px;
    }
    .section-two-article {
        width: 529px;
    }
    .section-two-article + .section-two-article {
        margin-left: 40px;
    }
    .section-two-article > img {
        margin-bottom: 42px;
    }
    .section-two-article > b {
        font-size: 33px;
    }
    .section-two-article > p {
        margin-top: 35px;
        font-size: 22px;
    }
    .section-two-article > button {
        font-size: 28px;
        margin-top: 49px;
        margin-bottom: 38.9px;
        padding: 15px 64.2px;
    }
    /* 这是section-two结束*/
    .section-three {
        width: 1680px;
    }
    .section-three > div > b {
        font-size: 50px;
    }
    /* 这是section-three结束 */
    .section-four {
        width: 1526px;
    }
    /* 这是section-four结束 */
    .footer-content {
        width: 1680px;
    }
    .footer-content > p + p {
        margin-left: 168px;
    }
    /* template.html --> 几个卡片模板 */
    .template-ceil > b {
        font-size: 42px;
    }
    .template-wrap > h3 {
        font-size: 50px;
    }
    .template-card-article > b {
        font-size: 34px;
    }
    .template-ceil {
        padding-top: 92px;
        padding-bottom: 92px;
    }
    .template-card-article {
        margin-top: 66px;
    }
    .template-card-article > b {
        margin-bottom: 53px;
    }
    .template-ceil > p,.template-card-article > p {
        font-size: 28px;
    }
}
@media (min-width: 1480px) and (max-width: 1920px) {
    .pointer {
        margin-left: 33.57px;
    }
    .pointer > span {
        font-size: 20px;
    }
    .menu-mask {
        height: 508.2px;
    }
    .menu-left li {
        margin-top: 26px;
        height: 54px;
        line-height: 54px;
        font-size: 26px;
    }
    .menu-ul,.menu-content > div > b,.menu-about > div > b {
        font-size: 24px;
    }
    .menu-content > div > p,.menu-content > div > a,.menu-about > div > span,.menu-about > div > a {
        font-size: 22px;
    }
    /*nav部分结束*/
    /* 可否提出去？不单独设置边距 */
    .banner-div {
        height: 508.2px;
    }
    .bg-color-1 {
        padding-top: 57px;
        padding-bottom: 99px;
    }
    .section-one {
        width: 1320px;
    }
    .section-one > div > b {
        font-size: 40px;
    }
    .section-one-content {
        margin-top: 34px;
    }
    .section-one-article {
        width: 415px;
    }
    .section-one-article + .section-one-article {
        margin-left: 32px;
    }
    .section-one-article > img {
        margin-bottom: 34px;
    }
    .section-one-article > b {
        font-size: 26px;
    }
    .section-one-article > p {
        margin-top: 27.5px;
        font-size: 18px;
    }
    .section-one-article > a {
        font-size: 22px;
        margin-top: 38.5px;
        margin-bottom: 26px;
    }
    /* 这里是结束的section-one部分 */
    .bg-color-2 {
        padding-top: 47px;
        padding-bottom: 82px;
    }
    .section-two {
        width: 1320px;
    }
    .section-two > div > b {
        font-size: 40px;
    }
    .section-two-content {
        margin-top: 34px;
    }
    .section-two-article {
        width: 415px;
    }
    .section-two-article + .section-two-article {
        margin-left: 32px;
    }
    .section-two-article > img {
        margin-bottom: 34px;
    }
    .section-two-article > b {
        font-size: 26px;
    }
    .section-two-article > p {
        margin-top: 27.5px;
        font-size: 18px;
    }
    .section-two-article > button {
        font-size: 22px;
        margin-top: 38.5px;
        margin-bottom: 30px;
        padding: 12px 49.5px;
    }
    /* 这是section-two结束*/
    .section-three {
        width: 1320px;
    }
    .section-three > div > b {
        font-size: 40px;
    }
    /* 这是section-three结束 */
    .section-four {
        width: 1200px;
    }
    /* 这是section-four结束 */
    .footer-content {
        width: 1320px;
    }
    .footer-content > p + p {
        margin-left: 132px;
    }
    /* template.html --> 几个卡片模板 */
    .template-ceil > b {
        font-size: 32px;
    }
    .template-wrap > h3 {
        font-size: 39px;
    }
    .template-card-article > b {
        font-size: 22px;
    }
    .template-ceil {
        padding-top: 71px;
        padding-bottom: 71px;
    }
    .template-card-article {
        margin-top: 51px;
    }
    .template-card-article > b {
        margin-bottom: 41px;
    }
    .template-ceil > p,.template-card-article > p {
        font-size: 22px;
    }
}
@media (min-width: 1240px) and (max-width: 1480px) {
    .pointer {
        margin-left: 28.15px;
    }
    .pointer > span {
        font-size: 18px;
    }
    .menu-mask {
        height: 420.4px;
    }
    .menu-left li {
        margin-top: 22px;
        height: 45px;
        line-height: 45px;
        font-size: 22px;
    }
    .menu-ul,.menu-content > div > b,.menu-about > div > b {
        font-size: 20px;
    }
    .menu-content > div > p,.menu-content > div > a,.menu-about > div > span,.menu-about > div > a {
        font-size: 18px;
    }
    /*nav部分结束*/
    .banner-div {
        height: 420.4px;
    }
    .bg-color-1 {
        padding-top: 47px;
        padding-bottom: 82px;
    }
    .section-one {
        width: 1092px;
    }
    .section-one > div > b {
        font-size: 33px;
    }
    .section-one-content {
        margin-top: 28px;
    }
    .section-one-article {
        width: 344px;
    }
    .section-one-article + .section-one-article {
        margin-left: 25px;
    }
    .section-one-article > img {
        margin-bottom: 28px;
    }
    .section-one-article > b {
        font-size: 22px;
    }
    .section-one-article > p {
        margin-top: 23px;
        font-size: 15px;
    }
    .section-one-article > a {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 22px;
    }
    /* 这里是结束的section-one部分 */
    .bg-color-2 {
        padding-top: 47px;
        padding-bottom: 82px;
    }
    .section-two {
        width: 1092px;
    }
    .section-two > div > b {
        font-size: 33px;
    }
    .section-two-content {
        margin-top: 28px;
    }
    .section-two-article {
        width: 344px;
    }
    .section-two-article + .section-two-article {
        margin-left: 25px;
    }
    .section-two-article > img {
        margin-bottom: 28px;
    }
    .section-two-article > b {
        font-size: 22px;
    }
    .section-two-article > p {
        margin-top: 23px;
        font-size: 15px;
    }
    .section-two-article > button {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 22px;
        padding: 10px 41px;
    }
    /* 这是section-two结束*/
    .section-three {
        width: 1092px;
    }
    .section-three > div > b {
        font-size: 33px;
    }
    /* 这是section-three结束 */
    .section-four {
        width: 991px;
    }
    /* 这是section-four结束 */
    .footer-content {
        width: 1090px;
    }
    .footer-content > p + p {
        margin-left: 110px;
    }
    /* template.html --> 几个卡片模板 */
    .template-ceil > b {
        font-size: 27px;
    }
    .template-wrap > h3 {
        font-size: 32px;
    }
    .template-card-article > b {
        font-size: 22px;
    }
    .template-ceil {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .template-card-article {
        margin-top: 43px;
    }
    .template-card-article > b {
        margin-bottom: 35px;
    }
    .template-ceil > p,.template-card-article > p {
        font-size: 18px;
    }
}
@media (min-width: 580px) and (max-width: 1240px) {
    .pointer {
        margin-left: 22.69px;
    }
    .poiter > span {
        font-size: 16px;
    }
    .menu-mask {
        height: 337.26px;
    }
    .menu-left li {
        margin-top: 18px;
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }
    .menu-ul,.menu-content > div > b,.menu-about > div > b {
        font-size: 16px;
    }
    .menu-content > div > p,.menu-content > div > a,.menu-about > div > span,.menu-about > div > a {
        font-size: 15px;
    }
    /*nav部分结束*/
    .banner-div {
        height: 337.3px;
    }
    .bg-color-1 {
        padding-top: 38px;
        padding-bottom: 66px;
    }
    .section-one {
        width: 876px;
    }
    .section-one > div > b {
        font-size: 26px;
    }
    .section-one-content {
        margin-top: 23px;
    }
    .section-one-article {
        width: 276px;
    }
    .section-one-article + .section-one-article {
        margin-left: 15px;
    }
    .section-one-article > img {
        margin-bottom: 23px;
    }
    .section-one-article > b {
        font-size: 18px;
    }
    .section-one-article > p {
        margin-top: 18px;
        font-size: 12px;
    }
    .section-one-article > a {
        font-size: 15px;
        margin-top: 26px;
        margin-bottom: 18px;
    }
    /* 这里是结束的section-one部分 */
    .bg-color-2 {
        padding-top: 47px;
        padding-bottom: 82px;
    }
    .section-two {
        width: 876px;
    }
    .section-two > div > b {
        font-size: 26px;
    }
    .section-two-content {
        margin-top: 23px;
    }
    .section-two-article {
        width: 276px;
    }
    .section-two-article + .section-two-article {
        margin-left: 15px;
    }
    .section-two-article > img {
        margin-bottom: 23px;
    }
    .section-two-article > b {
        font-size: 18px;
    }
    .section-two-article > p {
        margin-top: 18px;
        font-size: 12px;
    }
    .section-two-article > button {
        font-size: 15px;
        margin-top: 26px;
        margin-bottom: 18px;
        padding: 8px 33px;
    }
    /* 这是section-two结束*/
    .section-three {
        width: 876px;
    }
    .section-three > div > b {
        font-size: 26px;
    }
    /* 这是section-three结束 */
    .section-four {
        width: 796px;
    }
    /* 这是section-four结束 */
    .footer-content {
        width: 876px;
    }
    .footer-content > p + p {
        margin-left: 88px;
    }
    /* template.html --> 几个卡片模板 */
    .template-ceil > b {
        font-size: 22px;
    }
    .template-wrap > h3 {
        font-size: 26px;
    }
    .template-card-article > b {
        font-size: 18px;
    }
    .template-ceil {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .template-card-article {
        margin-top: 34px;
    }
    .template-card-article > b {
        margin-bottom: 28px;
    }
    /* 这里是单独为了效果而设置的图片 */
    .template-card-img {
        width: 360px;
    }
    .template-card-article {
        width: calc(92% - 360px);
    }
    .template-ceil > p,.template-card-article > p {
        font-size: 15px;
    }
}
/* 这里就是移动端的设备了 */
@media (max-width: 580px) {
    .menu-mask {
        height: 196.2px;
    }
    /*nav部分结束*/
    .banner-div {
        height: 196.2px;
    }
    .banner-content > p {
        font-size: 22px;
    }
    .banner-content > p > span {
        font-size: 31px;
    }
    .bg-color-1 {
        padding-top: 38px;
        padding-bottom: 66px;
    }
    .section-one {
        /*width: 51rem;*/
    }
    .section-one > div > b {
        font-size: 26px;
    }
    .section-one-content {
        margin-top: 23px;
    }
    .section-one-article {
        display: block;
        margin: 0 auto;
        /*width: 27.6rem;*/
        width: 80%;
    }
    .section-one-article + .section-one-article {
        margin-top: 20px;
    }
    .section-one-article > img {
        margin-bottom: 23px;
    }
    .section-one-article > b {
        font-size: 18px;
    }
    .section-one-article > p {
        margin-top: 18px;
        font-size: 12px;
    }
    .section-one-article > a {
        font-size: 15px;
        margin-top: 26px;
        margin-bottom: 18px;
    }
    /* 这里是结束的section-one部分 */
    .bg-color-2 {
        padding-top: 47px;
        padding-bottom: 82px;
    }
    .section-two > div > b {
        font-size: 26px;
    }
    .section-two-content {
        margin-top: 23px;
    }
    .section-two-article {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .section-two-article + .section-two-article {
        margin-top: 20px;
    }
    .section-two-article > img {
        margin-bottom: 23px;
    }
    .section-two-article > b {
        font-size: 18px;
    }
    .section-two-article > p {
        margin-top: 18px;
        font-size: 12px;
    }
    .section-two-article > button {
        font-size: 15px;
        margin-top: 26px;
        margin-bottom: 18px;
        padding: 8px 33px;
    }
    /* 这是section-two结束*/
    .section-three {
        /*width: 87.6rem;*/
    }
    .section-three > div > b {
        font-size: 26px;
    }
    /* 这是section-three结束 */
    .section-four {
        /*width: 79.6rem;*/
    }

    /* 这是section-four结束 */
    .footer-content {
        /*width: 87.6rem;*/
    }
    .footer-content > p + p {
        /*margin-left: 8.8rem;*/
    }
}
